<!doctype html>
<html ng-app="MyApp">

<head>
    <title>Test APIs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.min.js"></script>
    <script src="js/test.js"></script>
</head>

<body ng-controller="MyCtrl" ng-init="init()">
<h1>Test APIs</h1>

<div ng-show="error_message!=''">
    {{error_message}}
</div>

<div ng-show="showLogin">
    <button ng-click="login()">Log Out</button>
</div>

<div ng-show="!showLogin">
    <div>
        <button ng-click="getAll()">Load Data</button>
    </div>

    <div>
        <button ng-click="create()">Create</button>
        <button ng-click="logout()">Log Out</button>
    </div>

    <br/>
    <br/>

    <div>
        <ul>
            <li ng-repeat="product in products">
                {{product.name}}
                <button ng-click="update(product)">Update</button>
                <button ng-click="delete(product)">Delete</button>
            </li>
        </ul>
    </div>
</div>

{{product}}

</body>

</html>

