<!doctype html>
<html ng-app="myApp">

<head>
    <title>CRUD API Starter Kit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="js/test.js"></script>
</head>

<body ng-controller="myCtrl" ng-init="init()">

<h3>CRUD API Starter Kit</h3>

<div ng-if="error_message!=''">
    {{error_message}}
</div>

<div ng-if="showLogin">
    <form>
        <table class="table table-condensed">
            <tr>
                <td>
                    <input type="text" ng-model="credentials.username" class="ng-pristine ng-valid"
                           placeholder="Username">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" ng-model="credentials.password" class="ng-pristine ng-valid"
                           placeholder="Password">
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <tr>
                <td>
                    <button class="btn btn-primary" ng-click="login(credentials.username, credentials.password)"
                            ng-disabled="credentials.password == null || credentials.username == null">
                        Submit
                    </button>
                    <button class="btn" ng-click="init()">
                        Cancel
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div ng-if="!showLogin" ng-init="readProducts()">
    <form>
        <table class="table table-condensed table-striped">
            <tr>
                <td>
                    <input type="text" ng-model="tmp.newname" class="ng-pristine ng-valid">
                    <button class="btn" ng-click="createProduct(tmp.newname)" ng-disabled="tmp.newname == null"
                            placeholder="">Create
                    </button>
                </td>
            </tr>
            <tr ng-repeat="product in products | orderBy: 'name'">
                <td>
                    <input type="text" ng-model="tmp.rename[product.id]" class="ng-pristine ng-valid"
                           placeholder="{{product.name}}">
                    <button class="btn" ng-click="updateProduct(product, tmp.rename[product.id])"
                            ng-disabled="tmp.rename == null">Update
                    </button>
                    <button class="btn" ng-click="deleteProduct(product)">Delete</button>
                </td>
            </tr>
        </table>
    </form>
    <table class="table table-condensed">
        <tr>
            <td>
                <button class="btn btn-primary" ng-click="logout()">Logout</button>
            </td>
        </tr>
    </table>
</div>

</body>

</html>

