<!doctype html>
<html ng-app="myApp">

<head>
    <title>Test APIs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="js/test.js"></script>
</head>

<body ng-controller="myCtrl" ng-init="init()">
<h1>Test APIs</h1>

<div ng-if="error_message!=''">
    {{error_message}}
</div>

<div ng-show="showLogin">
    <hr/>

    <form ng-submit="login()">
        <table>
            <tr>
                <td>
                    <input type="text" ng-model="credentials.username" class="ng-pristine ng-valid"
                           placeholder="Username">
                    <br/>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" ng-model="credentials.password" class="ng-pristine ng-valid"
                           placeholder="Password">
                    <br/>
                    <br/>
                </td>
            </tr>

            <tr>
                <td>
                    <button class="btn btn-success" ng-click="setActive(true)"
                            ng-disabled="credentials.password ==null || credentials.username ==null">
                        Submit
                    </button>
                    <button class="btn btn-success" ng-click="cancel()">
                        Cancel
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div ng-show="!showLogin">
    <hr/>
    <button class="btn btn-success" ng-click="logout()">Logout</button>
</div>

<div ng-if="!showLogin" ng-init="getProducts()">
    <hr/>
    <ul>
        <li ng-repeat="product in products">
            {{product.name}}
        </li>
    </ul>
</div>

</body>

</html>

